# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Compodoc
.docs_backup/
.documentation-output
docs/generated/
README_BACKUP.md

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VsCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# Secrets & Environment variables
/.env
!src/_environments/.env

# System files
.DS_Store
Thumbs.db


######################################################################
##########    Files ignored by .gitignore_global locally,   ##########
########## these files could be reintegrated via theses rules ########
######################################################################

!/.npmrc
!/public/sitemap.xml
!.env.local.example
!sonar-project.properties
!config
!src/app/core/
