**/.git
**/node_modules
*.md
*.ts
.angular
.git
.htmlhintrc
.ngx-translate-lint.json
angular.json
coverage/
dist/
docs/
eslint-security.config.js
eslint.config.js
package-lock.json
pnpm-lock.yaml
public/manifest.json
README.md
tsconfig.json
tsconfig.spec.json
yarn.lock
