:host {
  display: block;
}

.c-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  caret-color: var(--primary-color);

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    background: var(--white-color);
    transition: all 0.2s ease-in-out;

    &:focus-within {
      border-width: 2px;
      border-color: var(--primary-color);
      box-shadow: 0 0 0 4px color-mix(in srgb, var(--primary-color), transparent 80%);
    }
  }

  &__input {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    background: transparent;

    &:focus {
      outline: none;
    }
  }

  &__toggle {
    display: flex;
    position: absolute;
    right: 1rem;
    background: none;
    border: none;
    color: var(--text-primary-color);

    &:focus {
      outline: none;
    }
  }
}
