<background>
  <section class="home">
    <div class="home__hero">
      <div class="home__welcome">
        <img
          src="assets/logos/logo.png"
          alt="{{ appNameKey() | translate }}"
          class="home__logo" />

        <h1 class="home__title">{{ 'PAGES.HOME.HERO.TITLE' | translate }}</h1>

        <p class="home__description">
          {{ 'PAGES.HOME.HERO.PREFIX' | translate }}
          <strong class="home__accent">{{ appNameKey() | translate }}</strong>
          {{ 'PAGES.HOME.HERO.SUFFIX' | translate }}
        </p>
      </div>
    </div>
  </section>
</background>
