@use 'abstracts' as *;

:host {
  display: flex;
  flex: 1;
  width: 100%;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 100%;
  padding: 2rem 1rem;
  z-index: 1;

  &__hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    z-index: 1;

    @include respond-to('tablet') {
      flex-direction: row;
      justify-content: center;
      max-width: 800px;
      margin: 0 auto;
      text-align: left;
    }
  }

  &__welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;

    @include respond-to('tablet') {
      align-items: flex-start;
      text-align: center;
    }
  }

  &__logo {
    width: 100%;
    max-width: 250px;
    height: auto;
    margin: 0 auto;

    @include respond-to('tablet') {
      max-width: 300px;
    }

    @include respond-to('desktop') {
      max-width: 350px;
    }

    @include respond-to('desktop-xl') {
      max-width: 430px;
    }
  }

  &__title {
    color: transparent;
    margin: 0 auto;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    background-clip: text;

    @include respond-to('desktop-xl') {
      max-width: 100%;
    }
  }

  &__description {
    font-family: var(--font-special);
    font-weight: var(--font-weight-medium);
    color: var(--text-nav-color);
    max-width: 250px;
    margin: 0 auto;
    line-height: 1.6;

    @include respond-to('tablet') {
      max-width: 480px;
    }

    @include respond-to('desktop') {
      max-width: 600px;
    }
  }

  &__accent {
    color: var(--text-primary-color);
    font-weight: var(--font-weight-bold);
  }
}
