<section
  class="maintenance-error"
  [class.is-ready]="isReady">
  <div class="maintenance-error__content">
    <div class="maintenance-error__animation-wrapper">
      <span class="sr-only">
        {{ 'PAGES.ERROR.MAINTENANCE.IMG.ALT.MAINTENANCE' | translate }}
      </span>

      <canvas
        #lottieCanvas
        aria-hidden="true"
        class="maintenance-error__lottie">
      </canvas>
    </div>

    <h4 class="maintenance-error__title">
      {{ 'PAGES.ERROR.MAINTENANCE.TITLE' | translate }}
    </h4>

    <h5 class="maintenance-error__subtitle">
      {{ 'PAGES.ERROR.MAINTENANCE.SUBTITLE' | translate }}
    </h5>
  </div>
</section>
