:host {
  display: block;
}

.public-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    display: flex;
    flex-direction: column;
    flex: 1;
    // Header height
    padding-top: 70px;
    background: var(--bg-color);
  }
}
