:root {
  /* =========== COLORS =========== */
  --black-color: oklch(0.3211 0 0);
  --deep-black-color: oklch(0 0 0);
  --typewriter-grey-color: oklch(0.7572 0 0);
  --white-color: oklch(1 0 0);

  --danger-color: oklch(0.6311 0.2545 28.85);
  --danger-color-2: oklch(0.7063 0.168157 58.5084);
  --error-color: oklch(0.6311 0.2545 28.85);
  --info-color: oklch(0.9681 0.2101 109.76);

  /* =========== MAIN COLORS =========== */
  --primary-color: oklch(0.6721 0.1606 156.35);
  --secondary-color: oklch(0.5407 0.2383 285.81);

  --primary-light: color-mix(in oklch, var(--primary-color), transparent 40%);
  --secondary-light: color-mix(in oklch, var(--secondary-color), transparent 40%);

  /* =========== TEXT COLORS =========== */
  --text-black-color: var(--black-color);
  --text-white-color: var(--white-color);

  --text-primary-color: var(--primary-color);
  --text-secondary-color: var(--secondary-color);

  --text-primary-color-light: var(--primary-light);
  --text-secondary-color-light: var(--secondary-light);

  --text-danger-color: var(--danger-color);
  --text-typewriter-color: var(--typewriter-grey-color);

  /* =========== BACKGROUNDS =========== */
  --bg-color: oklch(0.9736 0.0034 174.48);

  --bg-header-color: oklch(1 0 0);
  --bg-footer-color: oklch(1 0 0);

  --bg-white-color: var(--white-color);
  --bg-primary-color: var(--primary-color);
  --bg-secondary-color: var(--secondary-color);

  --bg-primary-light: var(--primary-light);
  --bg-secondary-light: var(--secondary-light);

  /* =========== FONTS =========== */
  --font-alt: 'Montserrat', sans-serif;
  --font-footer: 'Roboto', sans-serif;
  --font-header: 'Roboto', sans-serif;
  --font-main: 'Roboto', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --font-nav: 'Roboto', sans-serif;
  --font-special: 'Roboto', sans-serif;
  --font-snackbar: 'Roboto', sans-serif;
  --font-title-primary: 'Aria', sans-serif;
  --font-title-secondary: 'Montserrat', sans-serif;
  --font-typewriter: var(--font-mono);
}
