@use '../abstracts' as *;

:root {
  /* =========== COLORS =========== */
  --black-color: oklch(0.3211 0 0);
  --black-color-light: oklch(0.4585 0 0);
  --deep-black-color: oklch(0 0 0);
  --grey-color: oklch(0.5979 0 0);
  --white-color: oklch(1 0 0);

  --danger-color: oklch(0.6311 0.2545 28.85);
  --danger-color-2: oklch(0.7063 0.168157 58.5084);
  --error-color: oklch(0.6311 0.2545 28.85);
  --info-color: oklch(0.9681 0.2101 109.76);
  --typewriter-grey-color: oklch(0.7572 0 0);

  /* =========== MAIN COLORS =========== */
  --primary-color: oklch(0.6721 0.1606 156.35);
  --secondary-color: oklch(0.5407 0.2383 285.81);

  --primary-light: color-mix(in oklch, var(--primary-color), transparent 40%);
  --secondary-light: color-mix(in oklch, var(--secondary-color), transparent 40%);

  /* =========== RGBA =========== */
  --rgba-color-xs: rgba(0, 0, 0, 0.1);
  --rgba-color-s: rgba(0, 0, 0, 0.25);
  --rgba-color-m: rgba(0, 0, 0, 0.5);
  --rgba-color-l: rgba(0, 0, 0, 0.75);
  --rgba-color-xl: rgba(0, 0, 0, 1);

  /* =========== TEXT COLORS =========== */
  --text-black-color: var(--black-color);
  --text-grey-color: var(--grey-color);
  --text-white-color: var(--white-color);

  --text-primary-color: var(--primary-color);
  --text-secondary-color: var(--secondary-color);

  --text-primary-color-light: var(--primary-light);
  --text-secondary-color-light: var(--secondary-light);

  --text-danger-color: var(--danger-color);
  --text-nav-color: var(--black-color-light);
  --text-quote-color: var(--grey-color);
  --text-typewriter-color: var(--typewriter-grey-color);

  /* =========== BACKGROUNDS =========== */
  --bg-color: oklch(0.9736 0.0034 174.48);

  --bg-header-color: oklch(1 0 0);
  --bg-footer-color: oklch(1 0 0);

  --bg-white-color: var(--white-color);
  --bg-primary-color: var(--primary-color);
  --bg-secondary-color: var(--secondary-color);

  --bg-primary-light: var(--primary-light);
  --bg-secondary-light: var(--secondary-light);

  /* =========== FONTS =========== */
  --font-aria-sans-serif: 'Arial', sans-serif;
  --font-fira-code: 'Fira Code', monospace;
  --font-montserrat-sans-serif: 'Montserrat', sans-serif;
  --font-robot-condensed: 'Roboto Condensed', sans-serif;
  --font-robot-serif: 'Roboto Serif', serif;
  --font-robot-sans-serif: 'Roboto', sans-serif;

  --font-alt: var(--font-montserrat-sans-serif);
  --font-bubble: var(--font-robot-condensed);
  --font-footer: var(--font-robot-sans-serif);
  --font-header: var(--font-robot-sans-serif);
  --font-main: var(--font-robot-sans-serif);
  --font-mono: var(--font-fira-code);
  --font-nav: var(--font-robot-sans-serif);
  --font-special: var(--font-robot-serif);
  --font-snackbar: var(--font-robot-sans-serif);
  --font-title-primary: var(--font-aria-sans-serif);
  --font-title-secondary: var(--font-montserrat-sans-serif);
  --font-typewriter: var(--font-fira-code);

  /* =========== FONT WEIGHTS =========== */
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* =========== FONT SIZES (SEMANTIC) =========== */
  --font-size-base: clamp(14px, 1.2vw, 16px);
  --font-size-bubble: clamp(11px, 1.2vw, 14px);
  --font-size-description: clamp(16px, 2.5vw, 22px);
  --font-size-footer: clamp(10px, 1.2vw, 12px);
  --font-size-link: 1.2rem;
  --font-size-logo: 1.5rem;
  --font-size-snackbar: 14px;

  --font-size-h1: clamp(24px, 4vw, 32px);
  --font-size-h2: clamp(20px, 3vw, 28px);
  --font-size-h3: clamp(16px, 2vw, 24px);
  --font-size-h4: clamp(14px, 1.9vw, 20px);
  --font-size-h5: clamp(13px, 1.8vw, 18px);
  --font-size-h1-form: clamp(24px, 3vw, 26px);
  --font-size-h1-hero: clamp(24px, 4vw, 44px);

  /* =========== ICONS =========== */
  --size-icon-footer: 10px;
  --size-icon-footer-copyright: 0.75rem;
  --size-icon-footer-owner: 16px;
  --size-icon-footer-social: 22px;
  --size-icon-scroll-to-top: 30px;

  @include respond-to('desktop') {
    --size-icon-scroll-to-top: 35px;
  }

  @include respond-to('desktop-xl') {
    --size-icon-scroll-to-top: 40px;
  }

  /* =========== SHADOWS =========== */
  --shadow-close-button: 0 -2px 10px var(--rgba-color-xs);
  --shadow-footer: 0 -2px 10px var(--rgba-color-xs);
  --shadow-header: 0 2px 10px var(--rgba-color-xs);
  --shadow-login-page: 0 10px 25px var(--rgba-color-m);
}
