@use '../abstracts' as *;

:root {
  /* =========== COLORS =========== */
  --black-color: oklch(0.3211 0 0);
  --deep-black-color: oklch(0 0 0);
  --typewriter-grey-color: oklch(0.7572 0 0);
  --white-color: oklch(1 0 0);

  --danger-color: oklch(0.6311 0.2545 28.85);
  --danger-color-2: oklch(0.7063 0.168157 58.5084);
  --error-color: oklch(0.6311 0.2545 28.85);
  --info-color: oklch(0.9681 0.2101 109.76);

  /* =========== MAIN COLORS =========== */
  --primary-color: oklch(0.6721 0.1606 156.35);
  --secondary-color: oklch(0.5407 0.2383 285.81);

  --primary-light: color-mix(in oklch, var(--primary-color), transparent 40%);
  --secondary-light: color-mix(in oklch, var(--secondary-color), transparent 40%);

  /* =========== TEXT COLORS =========== */
  --text-black-color: var(--black-color);
  --text-white-color: var(--white-color);

  --text-primary-color: var(--primary-color);
  --text-secondary-color: var(--secondary-color);

  --text-primary-color-light: var(--primary-light);
  --text-secondary-color-light: var(--secondary-light);

  --text-danger-color: var(--danger-color);
  --text-typewriter-color: var(--typewriter-grey-color);

  /* =========== BACKGROUNDS =========== */
  --bg-color: oklch(0.9736 0.0034 174.48);

  --bg-header-color: oklch(1 0 0);
  --bg-footer-color: oklch(1 0 0);

  --bg-white-color: var(--white-color);
  --bg-primary-color: var(--primary-color);
  --bg-secondary-color: var(--secondary-color);

  --bg-primary-light: var(--primary-light);
  --bg-secondary-light: var(--secondary-light);

  /* =========== FONTS =========== */
  --font-alt: 'Montserrat', sans-serif;
  --font-footer: 'Roboto', sans-serif;
  --font-header: 'Roboto', sans-serif;
  --font-main: 'Roboto', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --font-nav: 'Roboto', sans-serif;
  --font-special: 'Roboto', sans-serif;
  --font-snackbar: 'Roboto', sans-serif;
  --font-title-primary: 'Aria', sans-serif;
  --font-title-secondary: 'Montserrat', sans-serif;
  --font-typewriter: var(--font-mono);

  /* =========== FONT WEIGHTS =========== */
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* =========== FONT SIZES (SEMANTIC) =========== */
  --font-size-link: 1.2rem;
  --font-size-logo: 1.5rem;
  --font-size-footer: 10px;
  --font-size-h1: 24px;

  @include respond-to('tablet') {
    --font-size-footer: 12px;
    --font-size-h1: 32px;
  }

  @include respond-to('desktop') {
    --font-size-h1: 40px;
  }

  @include respond-to('desktop-xl') {
    --font-size-h1: 48px;
  }

  /* =========== ICONS =========== */
  --size-icon-footer: 10px;
  --size-icon-footer-copyright: 0.75rem;
  --size-icon-footer-owner: 16px;
  --size-icon-footer-social: 22px;

  @include respond-to('tablet') {
    --size-icon-footer: 12px;
  }

  @include respond-to('desktop') {
    --size-icon-footer: 15px;
  }

  /* =========== ELEVATIONS / SHADOWS =========== */
  --shadow-color: rgba(0, 0, 0, 0.1);

  --shadow-footer: 0 -2px 10px var(--shadow-color);
}
