<footer class="footer">
  <ul class="footer__social-list">
    @for (link of socialLinks; track link.ariaKey) {
      <li class="footer__social-item">
        @if (link.path) {
          <a
            [routerLink]="[link.path]"
            [attr.aria-label]="link.ariaKey | translate"
            [matTooltip]="link.tooltipKey | translate"
            matTooltipPosition="above"
            matTooltipShowDelay="600"
            class="footer__link">
            <fa-icon
              [icon]="link.icon"
              class="footer__icon" />
          </a>
        } @else {
          <a
            [href]="link.href"
            target="_blank"
            rel="noopener noreferrer"
            [attr.aria-label]="link.ariaKey | translate"
            [matTooltip]="link.tooltipKey | translate"
            matTooltipPosition="above"
            matTooltipShowDelay="600"
            class="footer__link">
            <fa-icon
              [icon]="link.icon"
              class="footer__icon" />
          </a>
        }
      </li>
    }
  </ul>

  <p class="footer__copyright">
    {{ copyrightKey | translate: { year: currentYear } }}
    <span class="footer__owner">{{ appNameKey | translate }}</span>
    - {{ rightsReservedKey | translate }}
  </p>

  <div class="footer__hosting">
    <p class="footer__text">
      <span class="footer__group">
        <span class="footer__label">{{ hosting.developer.labelKey | translate }}</span>
        <span class="footer__value">
          <a
            [href]="externalLinks.portfolio"
            target="_blank"
            rel="noopener noreferrer"
            [attr.aria-label]="hosting.developer.ariaKey | translate"
            [matTooltip]="hosting.developer.tooltipKey | translate"
            matTooltipPosition="left"
            matTooltipShowDelay="600"
            >{{ hosting.developer.nameKey | translate }}
          </a>
        </span>
      </span>

      <span class="footer__separator"></span>

      <span class="footer__label">{{ hosting.host.labelKey | translate }}</span>

      <span class="footer__break"></span>

      <span class="footer__separator footer__separator--desktop"></span>

      <span class="footer__value">
        <a
          [href]="hosting.host.url"
          target="_blank"
          rel="noopener"
          [attr.aria-label]="hosting.host.ariaKey | translate"
          >{{ hosting.host.nameKey | translate }}
        </a>
      </span>

      <span class="footer__separator"></span>

      <span>{{ hosting.host.addressKey | translate }}</span>
    </p>

    <p class="footer__phone">
      <fa-icon
        [icon]="hosting.phone.icon"
        class="footer__phone_icon" />
      <span>{{ hosting.phone.nameKey | translate }}</span>
    </p>
  </div>
</footer>
