<div class="admin-layout">
  <aside class="admin-layout__sidebar sidebar">
    <div class="sidebar__brand">
      <h2 class="sidebar__title">ADMIN</h2>
    </div>

    <nav
      class="sidebar__nav"
      aria-label="Navigation principale de l'administration">
      <ul class="sidebar__list">
        <li class="sidebar__item">
          <a
            routerLink="dashboard"
            routerLinkActive="sidebar__link--active"
            class="sidebar__link"
            >Dashboard</a
          >
        </li>
        <li class="sidebar__item">
          <a
            routerLink="users"
            routerLinkActive="sidebar__link--active"
            class="sidebar__link"
            >Utilisateurs</a
          >
        </li>
      </ul>
    </nav>
  </aside>

  <div class="admin-layout__body">
    <header class="admin-layout__topbar topbar">
      <nav
        class="topbar__tabs tabs"
        aria-label="Navigation secondaire de l'administration">
        <a class="tabs__item tabs__item--active">Vue d'ensemble</a>
        <a class="tabs__item">Rapports</a>
        <a class="tabs__item">Paramètres</a>
      </nav>

      <div class="topbar__user user-info">
        <span class="user-info__name">{{ authService.currentUser()?.username }}</span>
        <button
          (click)="logout()"
          type="button"
          class="user-info__btn">
          Quitter
        </button>
      </div>
    </header>

    <main class="admin-layout__main">
      <div class="admin-layout__view-container">
        <router-outlet />
      </div>
    </main>
  </div>
</div>
