@use 'abstracts' as *;

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 2rem;

  &__wrapper {
    width: 100%;
    max-width: 480px;
    animation: fade-in-up 0.3s ease-in-out;
    -webkit-animation: fade-in-up 0.3s ease-in-out;
  }

  &__container {
    position: relative;
    width: 100%;
    max-width: 480px;
    padding: 40px;
    border-radius: 12px;
    border: 2px solid var(--primary-color);
    background-color: var(--bg-white-color);
    box-shadow: var(--shadow-login-page);
    transform-style: preserve-3d;
    will-change: transform;
    backface-visibility: hidden;

    &.is-flipping {
      animation: flip-spin 0.8s ease-in-out forwards;
      -webkit-animation: flip-spin 0.8s ease-in-out forwards;
      pointer-events: none;
    }
  }

  &__header {
    text-align: center;
    margin-bottom: 30px;
  }

  &__title {
    font-size: var(--font-size-h1-form);
    font-weight: var(--font-weight-bold);
    color: var(--text-primary-color);
    margin-bottom: 10px;
  }

  &__subtitle {
    font-size: var(--font-size-base);
    color: var(--text-black-color);
    line-height: 1.5;
  }

  &__footer {
    font-size: var(--font-size-base);
    margin-top: 32px;
    text-align: center;
  }
}
