<section class="unfound-error">
  <div class="unfound-error__video-container">
    <iframe
      id="yt-player"
      src="https://www.youtube.com/embed/OJXJDSrC_Ao?autoplay=1&mute=1&start=30&enablejsapi=1&rel=0&controls=1"
      title="Weser (Narkotek) Side A (404 Record 01)"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      class="unfound-error__video-player">
    </iframe>

    @if (isMuted) {
      <button
        type="button"
        (click)="unmuteVideo()"
        [attr.aria-label]="'UI.BUTTONS.UNMUTE.ARIA' | translate"
        class="unfound-error__unmute-btn">
        <span
          class="unfound-error__unmute-icon"
          aria-hidden="true"
          >🔊</span
        >
      </button>
    }
  </div>
</section>
