@use 'abstracts' as *;

:host {
  display: block;
}

.unknown-error {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
  background-color: ar(--bg-color);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
  }

  &__animation-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 16px;
    border: solid 2px var(--primary-color);
    background-color: #0c2522;
    animation: float 6s ease-in-out infinite;
    transform: translateZ(0);
    overflow: hidden;
  }

  &__lottie {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    transform: scale(1.02);
  }

  &__title {
    color: var(--primary-color);
    margin: 0;
  }

  &__subtitle {
    color: transparent;
    margin: 0;
    background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
    background-clip: text;
  }
}
