<section
  class="unknown-error"
  [class.is-ready]="isReady">
  <div class="unknown-error__content">
    <div class="unknown-error__animation-wrapper">
      <canvas
        #lottieCanvas
        role="img"
        [attr.aria-label]="'PAGES.ERROR.UNKNOWN.IMG.ALT.ABDUCTION' | translate"
        class="unknown-error__lottie">
      </canvas>
    </div>

    <h4 class="unknown-error__title">
      {{ 'PAGES.ERROR.UNKNOWN.TITLE' | translate }}
    </h4>

    <h5 class="unknown-error__subtitle">
      {{ 'PAGES.ERROR.UNKNOWN.SUBTITLE' | translate }}
    </h5>
  </div>
</section>
