@use '../abstracts' as *;

/* =========== DOCUMENT ROOT =========== */
html {
  scroll-behavior: smooth;
}

/* =========== BODY =========== */
body {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;

  &.no-scroll {
    height: 100vh;
    overflow: hidden;
    scrollbar-gutter: stable;
  }
}

/* =========== REACTIVATING SELECTION (UX CRITICAL) =========== */
input,
textarea,
[contenteditable='true'] {
  user-select: text;
  -webkit-user-select: text;
}

/* =========== FORMS / INTERACTIVES ELEMENTS =========== */
button,
input,
select,
textarea {
  border: none;
  background: none;
}

/* =========== TAGS =========== */
a {
  display: inline-block;
  cursor: pointer;
}

button {
  width: fit-content;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
